<header>
    <div class="container">
       <div class="top">
            <h1>Hi!, I'm <span>Christian</span>. I am a web developer.</h1>  
            <p>Interested in working together? Let's have a talk.</p>
            <div class="link">
                <a href="#">Contact me</a>                
            </div>         
       </div>
       <div class="bottom">
           <img src="/images/header-background.png" alt="header-background" height="325" width="692">
       </div>
    </div>    
</header>
<section class="first-section">
    <div class="container">
        <div class="text">
            <h1>Portfolio</h1>
            <p>Vivamus egestas risus non nisl pulvinar, a rutrum tellus viverra. Integer vel pretium mauris. Vestibulum magna elit, volutpat at mi quis, sagittis ornare massa.</p>
        </div>
    </div>    
</section>
<section class="second-section">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="head">
                    <img src="images/rocket1.png" alt="rocket-icon" style="transform: rotate(43deg);">
                    <h3 style="margin-left: 5px;">DISCOVER</h3> 
                </div>
                <div class="content">
                    <p>Vivamus egestas risus non nisl pulvinar, a rutrum tellus viverra. Integer vel pretium mauris. Vestibulum magna elit, volutpat at mi quis, sagittis ornare massa.</p>                    
                    <ul>
                        <li>Analysing</li>
                        <li>Technical specifications</li>
                        <li>Project Planning</li>
                        <li>Client Approval</li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="head">
                    <img src="images/code.png" alt="code-icon">
                    <h3 style="margin-left: 10px;">DEVELOPEMENT</h3> 
                </div>
                <div class="content">
                   <p>Vivamus egestas risus non nisl pulvinar, a rutrum tellus viverra. Integer vel pretium mauris. Vestibulum magna elit, volutpat at mi quis, sagittis ornare massa.</p>                    
                    <ul>
                        <li>Coding</li>
                        <li>Testing</li>
                        <li>Bug Fixing</li>
                        <li>Client Review</li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="head">
                    <img src="images/icons8-checkmark.svg" alt="checkmark-icon">
                    <h3 style="margin-left: 10px;">PRODUCTION</h3> 
                </div>
                <div class="content">
                   <p>Vivamus egestas risus non nisl pulvinar, a rutrum tellus viverra. Integer vel pretium mauris. Vestibulum magna elit, volutpat at mi quis, sagittis ornare massa.</p>                    
                    <ul>
                        <li>Code Transfer</li>
                        <li>Verification</li>
                        <li>Approval</li>
                        <li>Development</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>    
</section>